//Gradient

@use '../custom' as *;

@mixin gradient {
    //background: linear-gradient(to right, rgba($primary,0.85),rgba($secondary,0.95));


    background-color:hsla(324,100%,50%,0.4);
    background-image:
    radial-gradient(at 8% 96%, hsla(28,100%,74%,1) 0px, transparent 50%),
    radial-gradient(at 62% 57%, hsla(189,100%,56%,1) 0px, transparent 50%),
    radial-gradient(at 55% 96%, hsla(355,100%,93%,1) 0px, transparent 50%),
    radial-gradient(at 90% 39%, hsla(340,100%,76%,1) 0px, transparent 50%),
    radial-gradient(at 85% 93%, hsla(22,100%,77%,1) 0px, transparent 50%),
    radial-gradient(at 20% 46%, hsla(242,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
}



//Absolute center

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 53.5%;
    transform: translate(-50%, -50%);
}
